[submodule "mtheme"]
	path = mtheme
	url = https://github.com/matze/mtheme.git
[submodule "minted"]
	path = minted
	url = https://github.com/gpoore/minted.git
[submodule "fvextra"]
	path = fvextra
	url = https://github.com/gpoore/fvextra.git
